[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
fastapi = "*"
python-jose = {version = "==3.3.0", extras = ["cryptography"]}
httpx = "*"
sqlalchemy = "*"
asyncpg = "*"
uvicorn = "*"
python-multipart = "*"
opencv-python = "*"
numpy = "*"
pillow = "*"
fastapi-sessions = "*"

[dev-packages]

[requires]
python_version = "3.10"
